<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Логистические параметры станции</title>
</head>

<style>
    div.container {
        margin-top: 20px;
    }

    h1 {
        margin-bottom: 20px;
    }

    h1,h3 {
        margin-top: 15px;
        text-align: center
    }

    .table-container {
        margin-bottom: 15px;
    }

    hr {
        height: 2px;
        border-width: 0;
        color: gray;
        background-color: gray;
    }
</style>

<nav id="nav_bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Логистические параметры станции в.1.3 (в.1.0)</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="${url}">Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/map}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/segmentation}">Сегментация по регионам</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
<div class="error_block" th:if="${message == 'error'}">
    <div class="alert alert-danger" role="alert">
        Произошла ошибка. Повторите позже
    </div>
</div>

<div class="error_block" th:if="${message == 'success'}">
    <div class="alert alert-success" role="alert">
        Данные успешно сохранены
    </div>
</div>


<h1>Логистические параметры станций</h1>
<h3>Базовые настройки</h3>

<div class="container border border-3 border-secondary rounded">
    <form id="params_form" th:action="@{/flights/save_data}" method="post" th:object="${dto}">
        <div class="row">
            <div class="col align-self-center">
                <label> Токен: </label>
                <input type="text" class="form-control" th:field="*{token}">
            </div>
            <div class="col-md-6 mb-1 mt-3">
                <label> В управлении: </label>
                <input type="text" class="form-control" th:field="*{sourceContragent}">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <div class="row">
            <div class="col-md-6 mb-1 mt-3">
                <label> Глубина поиска (в днях): </label>
                <input type="text" class="form-control" th:field="*{daysToRetrieveData}">
            </div>
            <div class="col-md-6 mb-1 mt-3">
                <label> Время следующей выгрузки: </label>
                <input type="text" class="form-control"
                       th:field="*{nextDataLoadTime}" placeholder="Время в формате HH:mm:ss (15:00:00)">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <div class="row">
            <div class="col align-self-center">
                <label> Максимальное количество дней простоя при погрузке: </label>
                <input type="text" class="form-control" th:field="*{maxLoadIdleDays}">
            </div>
            <div class="col align-self-center">
                <label> Максимальное количество дней простоя при выгрузке: </label>
                <input type="text" class="form-control" th:field="*{maxUnloadIdleDays}">
            </div>
        </div>

        <div class="row">
            <div class="col align-self-center">
                <label> Минимальное количество дней простоя при погрузке: </label>
                <input type="text" class="form-control" th:field="*{minLoadIdleDays}">
            </div>

            <div class="col align-self-center">
                <label> Минимальное количество дней простоя при выгрузке: </label>
                <input type="text" class="form-control" th:field="*{minUnloadIdleDays}">
            </div>
        </div>
        <hr style="height:3px;border-width:0;color:black;background-color:black">

        <div class="row">
            <div class="col align-self-center">
                <label> Максимальное время перевозки: </label>
                <input type="text" class="form-control" th:field="*{maxTravelTime}">
            </div>
            <div class="col align-self-center">
                <label> Минимальное время перевозки: </label>
                <input type="text" class="form-control" th:field="*{minTravelTime}">
            </div>
        </div>
        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <div class="row">
            <div class="col-md-6 ">
                <label> Глубина поиска для расчета доходности (в днях): </label>
                <input type="text" class="form-control" th:field="*{flightProfitDaysToRetrieveData}">
            </div>

            <div class="col-md-6 ">
                <label> Расчет тарифа и ставки: </label>
                <select class="form-select" th:field="*{rateTariffState}">
                    <option th:value="1" >Вкл</option>
                    <option th:value="0" >Выкл</option>
                </select>
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <div class="row">
            <div class="col align-self-center">
                <label> Статус: </label>
                <input type="text" class="form-control" th:field="*{status}">
            </div>
            <div class="col align-self-center">
                <label> Тип парка: </label>
                <input type="text" class="form-control" th:field="*{carType}">
            </div>
        </div>

        <div class="row">
            <div class="col align-self-center">
                <label> ФИО сотрудников: </label>
                <input type="text" class="form-control" th:field="*{managers}">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">
        <div class="row">
            <div class="col align-self-center">
                <label> Яндекс Geocoder API-KEY: </label>
                <input type="text" class="form-control" th:field="*{apikeyGeocoder}">
            </div>
            <div class="col align-self-center">
                <label> Яндекс StationsList API-KEY: </label>
                <input type="text" class="form-control" th:field="*{apikeyStationList}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <label> Количество запросов в день: </label>
                <input type="text" class="form-control" th:field="*{requestsAmountInDay}">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">

        <div class="row">
            <div class="col-md-6">
                <label> Признак2 для фильтрации вторых порожних рейсов: </label>
                <input type="text" class="form-control" th:field="*{feature2}">
            </div>
            <div class="col-md-6">
                <label> Признак22 для фильтрации вторых порожних рейсов: </label>
                <input type="text" class="form-control" th:field="*{feature22}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label> Количество дней для проверки нахождения вагона в ремонте: </label>
                <input type="text" class="form-control" th:field="*{repairDaysCheck}">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">

        <div class="row mb-3">
            <div class="col-md-6">
                <label> [Сегментация] Время выгрузки сегментации: </label>
                <input type="text" class="form-control" th:field="*{loadTimeT14}">
            </div>
            <div class="col-md-6">
                <label> [Сегментация] Источник данных: </label>
                <input type="text" class="form-control" th:field="*{sourceDataT14}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label> [Сегментация] Маска КРЫТЫЕ ГРУЖЕННЫЕ: </label>
                <input type="text" class="form-control" th:field="*{loadedMaskT14}">
            </div>
            <div class="col-md-6">
                <label> [Сегментация]  Маска КРЫТЫЕ ПОРОЖНИЕ: </label>
                <input type="text" class="form-control" th:field="*{unloadedMaskT14}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label> [Сегментация] Пороговое значение фильтрации: </label>
                <input type="text" class="form-control" th:field="*{daysThresholdT14}">
            </div>
        </div>

        <hr style="height:3px;border-width:0;color:black;background-color:black">

        <div class="row">
            <div class="col box-footer mb-1 mt-3">
                <button id="load_button" onclick="alerts()"
                        type="submit" class="btn btn-primary" name="action" value="save">Загрузить данные </button>
            </div>
            <div class="col box-footer mb-1 mt-3">
                <button type="submit" class="btn btn-primary" name="action" value="update"> Обновить параметры </button>
            </div>
        </div>
    </form>
</div>

<h3>Управление загрузкой данных</h3>
<div class="container border border-3 border-secondary rounded">
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/station/load}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить станции </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form th:action="@{/api/cargos}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить грузы </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/address}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить адресацию вагонов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form th:action="@{/api/profits}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить доходность рейсов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/secondemptyflights}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить вторые порожние рейсы </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/api/noDetailsWagons}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить вагоны без реквизитов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/segmentation/analysis}" method="post">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Выгрузить анализ сегментации (t14) </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h3>Управление просмотром данных</h3>
<div class="container border border-3 border-secondary rounded">
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/flights/raw}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть извлеченные сырые данные </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form th:action="@{/result/load_days}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть данные о простоях</label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/result/flight_days}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть данные о времени и дистанции перевозки </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/flights/discarded}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть отброшенные рейсы</label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/result/station}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть данные о станциях </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/result/cargo}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть данные о грузах </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/flights/rate-tariff-errors}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть ошибки при расчете тарифа и ставки </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/api/profits}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть доходность рейсов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/address}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть адресацию вагонов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/api/secondemptyflights}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть вторые порожние рейсы </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/result/second_empty}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Метод API вторые порожние рейсы </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form th:action="@{/flights/discarded/secondempty}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть отброшенные вторые порожние рейсы рейсы</label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <form th:action="@{/api/segmentation/analysis}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть анализ сегментации (t14) </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form th:action="@{/result/noDetailsWagon}" method="get">
                <div class="box-footer mb-1 mt-3">
                    <label style="text-align: center"> Просмотреть вагоны без реквизитов </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Показать</button>
                </div>
            </form>
        </div>
    </div>
</div>


<h3>История работы с рейсами</h3>
<div class="container border border-3 border-secondary rounded table-container">
    <table class="table table-striped">
        <col style="width:60%">
        <col style="width:20%">
        <col style="width:20%">
        <thead>
        <tr>
            <th scope="col">Действие</th>
            <th scope="col">Дата</th>
            <th scope="col">Успешность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log: ${logs}">
            <td th:text="${log.action}">Action</td>
            <td th:text="${log.date}">Date</td>
            <td th:text="${log.success}">Success</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script type=text/javascript>
    function alerts() {
        let elements = document.getElementsByClassName("error_block");
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }

        let div = document.createElement("div");
        div.textContent = "Загрузка данных началась. Дождитесь завершения";
        div.classList.add("alert", "alert-primary", "loading_block");

        let element = document.getElementById('nav_bar');
        element.after(div);
    }
</script>
</html>